<app-navbar></app-navbar>

<div class="live-container1">
    <div class="live-c1-box">
        <h1>Web Stories</h1>
        
        <div class="live-c1-box-bottom">
            <div class="live-c1-box-left" style="overflow: hidden;">
                <div class="live-background-image" style="background-image: url('https://media.nw18.com/media-assets/wbx6pq/02-2024/16-2024/gxRvJgr3ig-VANTAGE284x524jpg-2UwbfFuIMi.jpg');"></div>
            </div>
            <div class="live-c1-box-right">
                <div class="live-c1-box-top">
                    <div class="live-c1-box-child">

                    </div>
                    <div class="live-c1-box-child">

                    </div>
                </div>
                <div class="live-c1-box-top">
                    <div class="live-c1-box-child">

                    </div>
                    <div class="live-c1-box-child">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="live-c1-box" style="background-color: #333; padding: 40px; color: aliceblue;">
        <h1>Technology</h1>

        <div class="live-c1-box-bottom">
            <div class="live-c1-box-right">
                <div class="live-c1-box-top">
                    <div class="live-c1-box-child">

                    </div>
                    <div class="live-c1-box-child">

                    </div>
                </div>
                <div class="live-c1-box-top">
                    <div class="live-c1-box-child">

                    </div>
                    <div class="live-c1-box-child">

                    </div>
                </div>
            </div>
            <div class="live-c1-box-left" style="overflow: hidden;">
                <div class="live-background-image" style="background-image: url('https://th.bing.com/th/id/OIP.dYWvYkXgj1jP66ZZ6PzY0QHaGc?rs=1&pid=ImgDetMain');"></div>
            </div>
        </div>
    </div>

    <div class="live-c1-box">
        <h1>Technology</h1>

        <div class="live-c1-box-bottom">
            <div class="live-c1-box-right" style="width: 90%;">
                <div class="live-c1-box-top">
                    <div class="live-c1-box-child" style="width: 32%;">

                    </div>
                    <div class="live-c1-box-child"  style="width: 32%;">

                    </div>
                    <div class="live-c1-box-child"  style="width: 32%;">

                    </div>
                </div>
                <div class="live-c1-box-top">
                    <div class="live-c1-box-child"  style="width: 32%;">

                    </div>
                    <div class="live-c1-box-child"  style="width: 32%;">

                    </div>
                    <div class="live-c1-box-child"  style="width: 32%;">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="live-c1-box" style="flex-direction: row; width: 100%; justify-content: space-around;">

        <div class="live-c1-box-strip-container-padder"></div>

        <div class="live-c1-box-strip">
            <h2 style="color: rgb(245, 92, 46);">World</h2>
            <br>
            <div class="live-c1-box-strip-container">
                <img src="https://images.firstpost.com/uploads/2024/03/Apples-shares-tanking-Why-stock-value-has-fallen-12-in-value-since-Dec-2023s-all-time-high-2024-03-0c243412e1915b10dfd38486f682134d-1200x675.jpg?im=Resize,width=400,aspect=fit,type=normal" alt="" height="200px" width="250px">
                <div class="live-c1-box-strip-container-content">
                    <p>Apple's shares tanking: Why stock value has fallen 12% in value since....</p>
                </div>
                <div class="live-c1-box-strip-container-content-divider"></div>
                <div class="live-c1-box-strip-container-content">
                    <p>Apple's shares tanking: Why stock value has fallen 12% in value since....</p>
                </div>
                <div class="live-c1-box-strip-container-content-divider"></div>
                <div class="live-c1-box-strip-container-content">
                    <p>Apple's shares tanking: Why stock value has fallen 12% in value since....</p>
                </div>
                <div class="live-c1-box-strip-container-content-divider"></div>
                <div class="live-c1-box-strip-container-content">
                    <p>Apple's shares tanking: Why stock value has fallen 12% in value since....</p>
                </div>
                <div class="live-c1-box-strip-container-content">
                    <button class="readmore-btn">
                        <span class="book-wrapper">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="rgb(86, 69, 117)"
                            viewBox="0 0 126 75"
                            class="book"
                          >
                            <rect
                              stroke-width="3"
                              stroke="#fff"
                              rx="7.5"
                              height="70"
                              width="121"
                              y="2.5"
                              x="2.5"
                            ></rect>
                            <line stroke-width="3" stroke="#fff" y2="75" x2="63.5" x1="63.5"></line>
                            <path
                              stroke-linecap="round"
                              stroke-width="4"
                              stroke="#fff"
                              d="M25 20H50"
                            ></path>
                            <path
                              stroke-linecap="round"
                              stroke-width="4"
                              stroke="#fff"
                              d="M101 20H76"
                            ></path>
                            <path
                              stroke-linecap="round"
                              stroke-width="4"
                              stroke="#fff"
                              d="M16 30L50 30"
                            ></path>
                            <path
                              stroke-linecap="round"
                              stroke-width="4"
                              stroke="#fff"
                              d="M110 30L76 30"
                            ></path>
                          </svg>
                      
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 65 75"
                            class="book-page"
                          >
                            <path
                              stroke-linecap="round"
                              stroke-width="4"
                              stroke="#fff"
                              d="M40 20H15"
                            ></path>
                            <path
                              stroke-linecap="round"
                              stroke-width="4"
                              stroke="#fff"
                              d="M49 30L15 30"
                            ></path>
                            <path
                              stroke-width="3"
                              stroke="#fff"
                              d="M2.5 2.5H55C59.1421 2.5 62.5 5.85786 62.5 10V65C62.5 69.1421 59.1421 72.5 55 72.5H2.5V2.5Z"
                            ></path>
                          </svg>
                        </span>
                        <span class="text"> Read more </span>
                      </button>                      
                </div>
            </div>
        </div>

        <div class="live-c1-box-strip">
            <h2 style="color: rgb(245, 92, 46);">India</h2>
            <br>
            <div class="live-c1-box-strip-container">
                <img src="https://www.prabhatkhabar.com/wp-content/uploads/2024/03/Sundar-Pichai-Google-Gemini-AI-1.jpg" alt="" height="200px" width="250px">
                <div class="live-c1-box-strip-container-content">
                    <p>Apple's shares tanking: Why stock value has fallen 12% in value since....</p>
                </div>
                <div class="live-c1-box-strip-container-content-divider"></div>
                <div class="live-c1-box-strip-container-content">
                    <p>Apple's shares tanking: Why stock value has fallen 12% in value since....</p>
                </div>
                <div class="live-c1-box-strip-container-content-divider"></div>
                <div class="live-c1-box-strip-container-content">
                    <p>Apple's shares tanking: Why stock value has fallen 12% in value since....</p>
                </div>
                <div class="live-c1-box-strip-container-content-divider"></div>
                <div class="live-c1-box-strip-container-content">
                    <p>Apple's shares tanking: Why stock value has fallen 12% in value since....</p>
                </div>
                <div class="live-c1-box-strip-container-content">
                    <button class="readmore-btn">
                        <span class="book-wrapper">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="rgb(86, 69, 117)"
                            viewBox="0 0 126 75"
                            class="book"
                          >
                            <rect
                              stroke-width="3"
                              stroke="#fff"
                              rx="7.5"
                              height="70"
                              width="121"
                              y="2.5"
                              x="2.5"
                            ></rect>
                            <line stroke-width="3" stroke="#fff" y2="75" x2="63.5" x1="63.5"></line>
                            <path
                              stroke-linecap="round"
                              stroke-width="4"
                              stroke="#fff"
                              d="M25 20H50"
                            ></path>
                            <path
                              stroke-linecap="round"
                              stroke-width="4"
                              stroke="#fff"
                              d="M101 20H76"
                            ></path>
                            <path
                              stroke-linecap="round"
                              stroke-width="4"
                              stroke="#fff"
                              d="M16 30L50 30"
                            ></path>
                            <path
                              stroke-linecap="round"
                              stroke-width="4"
                              stroke="#fff"
                              d="M110 30L76 30"
                            ></path>
                          </svg>
                      
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 65 75"
                            class="book-page"
                          >
                            <path
                              stroke-linecap="round"
                              stroke-width="4"
                              stroke="#fff"
                              d="M40 20H15"
                            ></path>
                            <path
                              stroke-linecap="round"
                              stroke-width="4"
                              stroke="#fff"
                              d="M49 30L15 30"
                            ></path>
                            <path
                              stroke-width="3"
                              stroke="#fff"
                              d="M2.5 2.5H55C59.1421 2.5 62.5 5.85786 62.5 10V65C62.5 69.1421 59.1421 72.5 55 72.5H2.5V2.5Z"
                            ></path>
                          </svg>
                        </span>
                        <span class="text"> Read more </span>
                      </button>                      
                </div>
            </div>
        </div>

        <div class="live-c1-box-strip">
            <h2 style="color: rgb(245, 92, 46);">Explainers</h2>
            <br>
            <div class="live-c1-box-strip-container">
                <img src="https://images.firstpost.com/uploads/2024/03/Election-2024-Trump-2024-03-a59af2798a08f01879e0340f760ccf4c.jpg?im=FitAndFill=(596,336)" alt="" height="200px" width="250px">
                <div class="live-c1-box-strip-container-content">
                    <p>Apple's shares tanking: Why stock value has fallen 12% in value since....</p>
                </div>
                <div class="live-c1-box-strip-container-content-divider"></div>
                <div class="live-c1-box-strip-container-content">
                    <p>Apple's shares tanking: Why stock value has fallen 12% in value since....</p>
                </div>
                <div class="live-c1-box-strip-container-content-divider"></div>
                <div class="live-c1-box-strip-container-content">
                    <p>Apple's shares tanking: Why stock value has fallen 12% in value since....</p>
                </div>
                <div class="live-c1-box-strip-container-content-divider"></div>
                <div class="live-c1-box-strip-container-content">
                    <p>Apple's shares tanking: Why stock value has fallen 12% in value since....</p>
                </div>
                <div class="live-c1-box-strip-container-content">
                    <button class="readmore-btn">
                        <span class="book-wrapper">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="rgb(86, 69, 117)"
                            viewBox="0 0 126 75"
                            class="book"
                          >
                            <rect
                              stroke-width="3"
                              stroke="#fff"
                              rx="7.5"
                              height="70"
                              width="121"
                              y="2.5"
                              x="2.5"
                            ></rect>
                            <line stroke-width="3" stroke="#fff" y2="75" x2="63.5" x1="63.5"></line>
                            <path
                              stroke-linecap="round"
                              stroke-width="4"
                              stroke="#fff"
                              d="M25 20H50"
                            ></path>
                            <path
                              stroke-linecap="round"
                              stroke-width="4"
                              stroke="#fff"
                              d="M101 20H76"
                            ></path>
                            <path
                              stroke-linecap="round"
                              stroke-width="4"
                              stroke="#fff"
                              d="M16 30L50 30"
                            ></path>
                            <path
                              stroke-linecap="round"
                              stroke-width="4"
                              stroke="#fff"
                              d="M110 30L76 30"
                            ></path>
                          </svg>
                      
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 65 75"
                            class="book-page"
                          >
                            <path
                              stroke-linecap="round"
                              stroke-width="4"
                              stroke="#fff"
                              d="M40 20H15"
                            ></path>
                            <path
                              stroke-linecap="round"
                              stroke-width="4"
                              stroke="#fff"
                              d="M49 30L15 30"
                            ></path>
                            <path
                              stroke-width="3"
                              stroke="#fff"
                              d="M2.5 2.5H55C59.1421 2.5 62.5 5.85786 62.5 10V65C62.5 69.1421 59.1421 72.5 55 72.5H2.5V2.5Z"
                            ></path>
                          </svg>
                        </span>
                        <span class="text"> Read more </span>
                      </button>                      
                </div>
            </div>
        </div>

        <div class="live-c1-box-strip">
            <h2 style="color: rgb(245, 92, 46);">Sports</h2>
            <br>
            <div class="live-c1-box-strip-container">
                <img src="https://images.firstpost.com/uploads/2024/03/Nishant-Dev-Boxing-1200-2024-03-7612e3d80308b841e75a719e77638f09-1200x675.jpg?im=Resize,width=400,aspect=fit,type=normal" alt="" height="200px" width="250px">
                <div class="live-c1-box-strip-container-content">
                    <p>Apple's shares tanking: Why stock value has fallen 12% in value since....</p>
                </div>
                <div class="live-c1-box-strip-container-content-divider"></div>
                <div class="live-c1-box-strip-container-content">
                    <p>Apple's shares tanking: Why stock value has fallen 12% in value since....</p>
                </div>
                <div class="live-c1-box-strip-container-content-divider"></div>
                <div class="live-c1-box-strip-container-content">
                    <p>Apple's shares tanking: Why stock value has fallen 12% in value since....</p>
                </div>
                <div class="live-c1-box-strip-container-content-divider"></div>
                <div class="live-c1-box-strip-container-content">
                    <p>Apple's shares tanking: Why stock value has fallen 12% in value since....</p>
                </div>
                <div class="live-c1-box-strip-container-content">
                    <button class="readmore-btn">
                        <span class="book-wrapper">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="rgb(86, 69, 117)"
                            viewBox="0 0 126 75"
                            class="book"
                          >
                            <rect
                              stroke-width="3"
                              stroke="#fff"
                              rx="7.5"
                              height="70"
                              width="121"
                              y="2.5"
                              x="2.5"
                            ></rect>
                            <line stroke-width="3" stroke="#fff" y2="75" x2="63.5" x1="63.5"></line>
                            <path
                              stroke-linecap="round"
                              stroke-width="4"
                              stroke="#fff"
                              d="M25 20H50"
                            ></path>
                            <path
                              stroke-linecap="round"
                              stroke-width="4"
                              stroke="#fff"
                              d="M101 20H76"
                            ></path>
                            <path
                              stroke-linecap="round"
                              stroke-width="4"
                              stroke="#fff"
                              d="M16 30L50 30"
                            ></path>
                            <path
                              stroke-linecap="round"
                              stroke-width="4"
                              stroke="#fff"
                              d="M110 30L76 30"
                            ></path>
                          </svg>
                      
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 65 75"
                            class="book-page"
                          >
                            <path
                              stroke-linecap="round"
                              stroke-width="4"
                              stroke="#fff"
                              d="M40 20H15"
                            ></path>
                            <path
                              stroke-linecap="round"
                              stroke-width="4"
                              stroke="#fff"
                              d="M49 30L15 30"
                            ></path>
                            <path
                              stroke-width="3"
                              stroke="#fff"
                              d="M2.5 2.5H55C59.1421 2.5 62.5 5.85786 62.5 10V65C62.5 69.1421 59.1421 72.5 55 72.5H2.5V2.5Z"
                            ></path>
                          </svg>
                        </span>
                        <span class="text"> Read more </span>
                      </button>                      
                </div>
            </div>
        </div>

        <div class="live-c1-box-strip-container-padder"></div>

    </div>
</div>
<br><br><br>

<!-- Footer -->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<section id="footer">
    <div class="container">
       <div class="row text-center text-xs-center text-sm-left text-md-left">
          <div class="col-xs-12 col-sm-4 col-md-4">
             <h5>Quick links</h5>
             <ul class="list-unstyled quick-links">
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Videos</a></li>
             </ul>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4">
             <h5>Quick links</h5>
             <ul class="list-unstyled quick-links">
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Videos</a></li>
             </ul>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4">
             <h5>Quick links</h5>
             <ul class="list-unstyled quick-links">
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
                <li><a href="https://wwwe.sunlimetech.com" title="Design and developed by"><i
                         class="fa fa-angle-double-right"></i>Imprint</a></li>
             </ul>
          </div>
       </div>
       <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
             <ul class="list-unstyled list-inline social text-center">
                <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
                <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
                <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i
                         class="fa fa-envelope"></i></a></li>
             </ul>
          </div>
          <hr>
       </div>
       <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
             <p><u><a href="https://www.nationaltransaction.com/">National Transaction Corporation</a></u> is a
                Registered MSP/ISO of Elavon, Inc. Georgia [a wholly owned subsidiary of U.S. Bancorp, Minneapolis, MN]
             </p>
             <p class="h6">&copy All right Reversed.<a class="text-green ml-2" routerLink="/home" target="_blank">Sylv
                   Reportings</a></p>
          </div>
          <hr>
       </div>
    </div>
 </section>
 <!-- ./Footer -->